<div>
	<h1>
		Add a new observation
	</h1>
	<form class="notes-form">

			<select ng-model="selectedAnimal" ng-options="animal for animal in animals"></select>

			<select ng-model="selectedZone" ng-options="zone for zone in zones"></select>

		    <p class="input-group">
		      <input type="text" class="form-control" placeholder="Observation." ng-model="$ctrl.newThing">
		      <span class="input-group-btn">
		        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addNote()">Add New</button>
		      </span>
		    </p>
	</form>
</div>

<div ng-repeat= "">
	
</div>