<header  ng class="hero-unit" id="banner">
  heres the amphibians
</header>

<div class="container">
 <table class="pure-table">
   <!--  ng-if="$ctrl.searchResults.length != 0" -->
   <tbody>
      <tr>
        <td>Name</td>
        <td>Family</td>
        <td>Genus</td>
        <td>Population</td>
        <td>Diet</td>
        <td>Wetness</td>
        <td>Reproduction</td>
      </tr>
      <tr ng-if="$ctrl.amphibians.length != 0" ng-repeat="amphibian in $ctrl.amphibians"> 
                <!-- im here -->
                <td>
                <a href="/">{{amphibian.name}}</a>
                </td>
                <td>
                  {{amphibian.family}}
                </td>
                <td>
                  {{amphibian.genus}}
                </td>
                <td>
                  {{amphibian.population}}
                </td>
                <td>
                  {{amphibian.diet}}
                </td>
                <td>
                  {{amphibian.isWet}}
                </td>
                <td>
                  {{amphibian.reproduction}}
                </td>
      </tr>
      <tr ng-if="$ctrl.amphibians.length == 0"> 
                <td>there are no animals of this type</td>
      </tr>
    </tbody>
  </table>
</div>


